body {
    font-family: 'Quicksand', sans-serif;
}
/*header */
.menu {
    margin-top: 10px;
    padding: 10px;
}

.inscription{
    color:#28a745;
}
.connexion {
    color:#005cbf;
}
.inscription, .connexion{
    float: right;
}
.connexion, .inscription {
    margin-right: 5px;
}
.connexion:hover{
    border:1px solid #005cbf;
}
.inscription:hover{
    border: 1px solid #28a745;
}

.form {
    padding-top: 100px;
    background-color:white;
}
.form input {
    display: block;
    padding: 10px;
}
/*login*/

.formLogin input {
    width: 60%;
}
.left img {
    margin-left:57%;
    width: 55%;
}
.title {
    padding-top: 38px;
}
.title h1{
    text-align: center;
    font-size: 700%;
    font-weight: 600;
}

.title h2 {
    font-size: 300%;
    font-weight: 300;
    font-style: normal;
    color: #c8cbcf;
    text-align: center;
}


.title p{
    padding-top: 100px;
    color: #868e96;
    display: inline-block;
}

input[type="submit"] {
    margin-bottom: 20px;
}

.formLogin p {
    margin-left: 15px;
    margin-right: 5px;
}

.create, .formLogin p {
    display: inline-block;
}

/*create*/
.formCreate input {
    width: 100%;
    margin-bottom: 10px;

}

/*sheets*/
.divPoster {
    padding: 10px;
}
.poster {
    width: 100%;
}

.poster:hover{
    padding: 10px;
}