body {
    font-family: 'Quicksand', sans-serif;
}
/*header */
.menu {
    margin-top: 10px;
    padding: 10px;
}

.inscription{
    color:#28a745;
}
.connexion {
    color:#005cbf;
}
.inscription, .connexion{
    float: right;
}
.connexion, .inscription {
    margin-right: 5px;
}
.connexion:hover{
    border:1px solid #005cbf;
}
.inscription:hover{
    border: 1px solid #28a745;
}

/*login*/
.login {
    padding-left: 50px;
    padding-top: 100px;

}
.login h1{
    font-size: 60px;
    font-weight: 600;
}

.login h2 {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    padding-bottom:100px;
    color:#c8cbcf;
}
.login input {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
}

.login p{
    padding-top: 100px;
    color: #868e96;
}